#!/bin/sh

{% if zfs_snapshots.weekly is defined %}
# Only call zfs-auto-snapshot if it's available
which zfs-auto-snapshot > /dev/null || exit 0

{% for volume in zfs_snapshots.weekly %}
/usr/local/sbin/zfs-auto-snapshot --quiet --syslog --label=weekly --keep={{ volume.keep }} {{ volume.name }}
{% endfor %}
{% else %}
# Do not take any snapshots
{% endif %}